html,body{
    background-image:url("../img/fundoLegume.jpeg") ;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}



.header-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 10%;
    width: 100%;
}

.default-button{
    margin: 5px;
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #a5bd74;
    font-size: 16px;
    font-weight: 500;
    border: #a5bd74 solid 2px;
    border-radius: 5px;
    cursor: pointer;
}

.default-button:hover{
    color: rgb(255, 255, 255);
    background: linear-gradient(24deg, rgba(165,189,116,1) 38%, rgba(219,147,115,1) 74%, rgba(241,130,115,1) 89%);
    ;
}


.body-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.img-login{
    height: 130px;
}

.div-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 350px;
    width:40%;
    padding: 30px;
    border: 2px solid #a5bd74;
    background-color:rgb(0, 0, 0, 0.8) ;
    border-radius: 15px;
}

.div-login-button{
    display:flex;
    flex-direction: row;
    align-items: center;
}

*:focus {
    outline: none;
}

.form-login input{
    border: none;
    border-bottom: 2px solid #a5bd74;
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
    height: 100px;
    color:white ;
    font-size: 15px;
}

.form-login a{
    color: #cce69a ;
}



.form-login{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-login label{
    grid-column: 1;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
    color: white;

}

.form-login button{
    height: 40px;
    width: 60%;

    font-weight: 600;
}

.form-login input{
    grid-column: 1;
    height: 150%;
}

.menu{
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50px;
    white-space: nowrap;
    
}

.menu a{
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 12pt;
    text-decoration: none;
    font-weight: 500;
    width: 25%;
    padding-bottom: 0.5rem ;
}

.menu a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease;
}

.menu a:hover::after{
    width: 380%;
}

.preco-qtd{
    display: flex;
    flex-direction: row;
    height: 15px;
}

.div-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width:40%;
    padding: 30px;
    border: 2px solid #a5bd74;
    background-color:rgb(0, 0, 0, 0.8) ;
    border-radius: 15px;
}

.btnproduct{
    background-color:rgb(0, 0, 0, 0.8) ;
}

